.mnjsqk0 {
  position: relative;
}
.mnjsqk1 {
  padding-left: 42px;
}
.mnjsqk1:focus {
  box-shadow: none;
  outline: none;
}
.mnjsqk1:active {
  box-shadow: none;
  outline: none;
}
.mnjsqk2 {
  cursor: pointer;
}
.mnjsqk3 {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100%;
  left: 0;
  padding-left: 14px;
  position: absolute;
  top: 0;
  transition: color 0.2s ease-in-out;
  z-index: 3;
}
.mnjsqk4 {
  align-items: center;
  display: flex;
  height: 100%;
  opacity: 0;
  padding: 3px 4px 0px 4px;
  pointer-events: none;
  position: absolute;
  right: 50px;
  top: -2px;
  transition: opacity 0.2s ease-in-out;
  transform: translateY(2px);
  z-index: 3;
}
.mnjsqk5 {
  opacity: 0.3;
  transition: opacity 0.15s ease-in-out;
}
.mnjsqk5:hover {
  opacity: 0.5;
}
.mnjsqk6 {
  font-size: 18px;
}
.mnjsqk7 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  right: 0;
  top: 0;
  padding-right: 4px;
  z-index: 3;
}
.mnjsqk8 {
  font-size: 20px;
}
.mnjsqk8:focus {
  box-shadow: none;
  outline: none;
}
.mnjsqk8:active {
  box-shadow: none;
  outline: none;
}
.mnjsqk9 {
  opacity: 0.8;
  color: #f41d32;
  transition: opacity 0.2s ease-in-out, transform 0.1s ease;
  transform: scale(1.5);
}
.mnjsqka {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 12px;
  font-weight: 700;
  padding: 0px 5px;
}
.mnjsqka:hover {
  color: var(--primary);
}
.mnjsqka:active {
  border-color: var(--primary) !important;
}
.mnjsqka:focus {
  box-shadow: 0 0 0 0.12rem rgba(var(--primary), 0.25);
}
.mnjsqkb {
  border: 1px solid var(--orange);
  color: var(--orange);
}
.mnjsqkb:hover {
  color: var(--orange);
}
.mnjsqkc {
  border: 1px solid #9400d3;
  color: #9400d3;
}
.mnjsqkc:hover {
  color: #9400d3;
}._1y3r8up0:hover {
  text-decoration: none;
}.n06ofj0 {
  background-color: transparent;
  text-align: center;
  transition: box-shadow 0.15s ease-in-out;
  overflow: hidden;
  position: relative;
}
.n06ofj0:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.n06ofj1 {
  height: 72px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  object-fit: contain;
  transition: transform 0.15s ease-in;
  width: 72px;
}
.n06ofj2 {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 14px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.n06ofj2:after {
  content: " ";
  display: block;
  border-bottom-right-radius: 4px;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 15%;
}
.n06ofj3 {
  position: absolute;
  padding: 3px 6px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
  top: 0;
  left: 0;
  background-color: var(--primary);
  color: var(--white) !important;
}
.n06ofj4 {
  position: absolute;
  padding: 3px 6px;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  top: 0;
  right: 0;
  background-color: var(--orange);
  color: var(--white) !important;
}
.n06ofj0:hover * {
  color: black;
}
.n06ofj0:hover .n06ofj1 {
  transform: scale(1.1);
}
.theme-light .n06ofj0::before, .theme-light .n06ofj0::after {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}
.theme-light .n06ofj0 .card-header {
  color: var(--dark);
}
.theme-light .n06ofj0 .card-header::after {
  background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 1) 50%);
}
.theme-dark .n06ofj0 {
  background-color: var(--gray-dark);
  border-color: #545b62;
  color: var(--light);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
.theme-dark .n06ofj0:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}
.theme-dark .n06ofj0 .card-header {
  background-color: #303437;
  border-color: #545b62;
  color: var(--light);
}
.theme-dark .n06ofj0 .card-header::after {
  background: linear-gradient(90deg, rgba(48,52,55,0) 0%, rgba(48,52,55,1) 50%);
}