*, *:before, *:after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

body {
  background-color: #2090EA;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #2090EA;
}

#root {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
